<!------------- INICIO TOPO -------------->      
<span style="display:none">
	[atendimento_online]       
</span>     
<script>
	$(document).ready(function () {            
		if('[cod_atendimento_online]' !=''){    
			if($('img[src="https://www.htalk.com.br//imagens/suporte_offline.png"]').length>0){ //existe a imagem offline
				$('.barra1_chat').removeClass('online');
			}
			if($('img[src="https://www.htalk.com.br//imagens/suporte_online.png"]').length>0){ //existe a imagem online
					$('#id_chat_rodape').html(' • <a onclick="window.open(\'https://www.htalk.com.br/atendimento/cliente.php?id=[cod_atendimento_online]\',\'Atendimento\',\'width=470,height=525,resizable=1,scrollbars=0,directories=0,location=0,toolbar=0,menubar=0\')" href="#">Atendimento On-line</a>');
		
			  $('.barra1_chat').addClass('online');
			}
		}else{
			$('.class_atendimento_online').hide();
		}
	});
    
  $(document).ready(function(e) {
    $('.login_inativo, .login_ativo').hide();

    if('[cliente]'==''){
      //se não esta logado
      $('.login_inativo').show();
    }else{
      $('.login_ativo').show();
    }
      
    $('#procurarPalavraTopo').click(function(event) {
      if(!$('#procurarPalavraTopo').val().length) {
        $('li.search').toggleClass('opend');
      }
    });
    $('#procurarPalavraTopo').blur(function(event) {
      if(!$('#procurarPalavraTopo').val().length) {
        $('li.search').toggleClass('opend');
      }
    });
    $('#actionPesquisaTopo').click(function(event) {
      if($('#procurarPalavraTopo').val().length) {
          $('#searchTopo').submit();
      }
    });
  });
</script>

[html_script_topo]
<nav id="infos-one" class="navbar navbar-inverse navbar-static-top">
	<div class="container">
    <div id="navbar" class="navbar-collapse">
      <!-- Lado Direito -->
      <ul class="nav navbar-nav navbar-right">
        <li class="search">
          <form id="searchTopo" action="consulta.php" method="get">
            <div class="search-content">
              <i id="actionPesquisaTopo" class="material-icons">&#xE8B6;</i>
              <input id="procurarPalavraTopo" type="text" class="form-control" placeholder="Procurar" name="palavra" required>
            </div>
          </form>
        </li>
        <li class="class_atendimento_online">
          <a href="javascript:void(false);" onclick="window.open('https://www.htalk.com.br/atendimento/cliente.php?id=[cod_atendimento_online]','atendimento', 'width=470,height=500,resizable=1,scrollbars=0,directories=0,location=0,toolbar=0,menubar=0')" title="Atendimento Online">
            <span class="hidden-xs">Atendimento On-line</span>
            <i class="material-icons barra1_chat">&#xE0BF;</i>
          </a>
        </li>
        <li class="pull-left">
          <a href="contato.php" target="_self">
            <span>[fone]</span>
            <i class="material-icons">&#xE61D;</i>
          </a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2" aria-expanded="false" aria-controls="navbar2">
        <span class="sr-only">Menu Principal</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="javascript:void(0)" class="navbar-toggle visible-sm collapsed" data-toggle="collapse" data-target="#navbar3" aria-expanded="false" aria-controls="navbar3">
        <span>Departamentos</span>
      </a>
      <a href="javascript:void(0)" class="navbar-toggle visible-sm collapsed" data-toggle="collapse" data-target="#navbar4" aria-expanded="false" aria-controls="navbar4">
        <span>Informações</span>
      </a>
      <div class="navbar-brand">[logo]</div>
    </div>
    <div id="navbar2" class="navbar-collapse collapse">
      <!-- Lado Esquerdo -->
      <ul class="nav navbar-nav">
        <li><a href="index.php" target="_self">Home</a></li>
        <li><a href="lancamento.php" target="_self">Lançamentos</a></li>
        <li><a href="oferta.php" target="_self">Promoções</a></li>
        <li><a href="contato.php" target="_self">Fale Conosco</a></li>
      </ul>
      <!-- Lado Direito -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="cliente_informacoes.php" target="_self">Meus Pedidos</a></li>
        <li class="login_inativo"><a href="login.php" target="_self">Login</a></li>
        <li class="login_inativo"><a href="novo_cliente.php" target="_self" class="btn btn-primary">Cadastre-se</a></li>
        <li class="login_ativo dropdown">
          <a href="javascript:void(0)" id="sua-conta" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>Sua Conta</span><i class="material-icons">&#xE313;</i></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">[cliente]</li>
            <li><a href="novo_cliente.php?editar=true">Editar Cadastro</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="index.php?logoff=1">Sair</a></li>
          </ul>
        </li>
        <li>
          <a href="carrinho.php" target="_self" class="btn btn-default">
            <i class="material-icons pull-left">&#xE8CC;</i>
            <span>Meu Carrinho</span>
            <div class="qntde_cart">[qtde_de_itens_no_carrinho] <span id="pulCarrinhoTop">Itens</span></div>
          </a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<nav class="visible-xs hide-sm navbar navbar-default onlyMobileMenu navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a href="javascript:void(0)" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#navbar3" aria-expanded="false" aria-controls="navbar3">
        <span>Departamentos</span>
      </a>
      <a href="javascript:void(0)" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar4" aria-expanded="false" aria-controls="navbar4">
        <span>Informações</span>
      </a>
    </div>
    </div>
</nav>
<section class="visible-xs visible-sm menus-responsivos">
  <div class="container">
    <div id="navbar3" class="navbar-collapse collapse"></div>
    <div id="navbar4" class="navbar-collapse collapse"></div>
    </div>
</section>
<div id="id_banner_Full"></div>
<div id="id_banner_produto"></div>
<span id="top-link-block" class="hidden">
    <a href="#top" class="well well-sm" target="_self" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
        <i class="material-icons">&#xE316;</i>
    </a>
</span>
<!--------------- FIM TOPO --------------->   



    
<div class="divcentral container" id="id_tabela_central" >	
	<div class="row">




<!------------- INICIO ESQUERDA -------------->      
<div class="divlateral col-md-3 hidden-xs hidden-sm" id="id_div_esquerda">
    <div class="lat_total">
        <div class="panel panel-default">
            <div class="LatTit panel-heading">Departamentos</div>
            <div id="cssmenu" class="cssmenu navbar-collapse collapse sidebar-navbar-collapse"></div>
        </div>

        <div class="panel panel-default login-panel">
            <div class="LatTit panel-heading">Login</div>
            <div class="caixaTexto">
            	<div class="caixa_login">[caixa_login]</div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="LatTit panel-heading">Informações</div> 
            <div id="cssmenu_pagina_interna" class="cssmenu"></div>
        </div>

        <div align="center" id="dive7rLeftBottom"></div> <!-- propaganda -->
        [ebit][html_banner_script_esquerda][publicidade_lojas_virtuais_br]
        <div align="center" id="id_banner_Lateral_Esquerda"></div><!-- banner do sistema -->
    </div>
</div>
<!--------------- FIM ESQUERDA --------------->       




			
        <div class="td_central col-md-9 col-xs-12" id="id_td_central">
            <div align="center" id="dive7rCenterTop"></div>    
            <div id="id_banner_Central" align="center"></div>      
            [conteudo]
        </div><!--  central -->




<!------------- INICIO DIREITA -------------->      
<div class="divlateral col-md-2 col-xs-12" id="id_div_direita">
	<div id="contentDireitaCol">
		[html_banner_script_direita]
	</div>
	<div align="center" id="id_banner_Lateral_Direita"></div>
</div>
<!--------------- FIM DIREITA --------------->       



	</div><!-- row -->
</div><!-- div central - container -->







<!------------- INICIO RODAPE -------------->      
[cadastramento_email]
<footer class="rod_total">
    <div align="center" id="id_banner_Rodape"></div>
    <div class="container">
    	<div class="row">
            <div class="col-md-12">
            	<div class="row">
                    <div class="col-md-2">
                        <ul> 
                            <li><a href="javascript:void(0)">Institucional</a></li>
                            <li><a href="index.php" target="_self">Home</a></li>
                            <li><a href="indique.php" target="_self">Indique o Site</a></li>
                            <li><a href="contato.php" target="_self">Fale Conosco</a></li>
                        </ul>
                    </div>
                    <div class="col-md-5">
                        <div class="meio_info">
                        	<div class="meio_info_end">[rodape]</div>
                            <div>[imagem_p_facebook][imagem_p_twitter][imagem_p_pinterest][imagem_p_instagram][imagem_p_google][imagem_p_youtube]</div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="barra_meio_inf_total">
                            <div class="barra_meio_inf">
                                [html_2_rodape]
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>
<div class="modal fade" id="modal-produto" tabindex="-1" role="dialog" aria-labelledby="modal-produto">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body">
        <div class="row vertical-align-modal" id="row-prdt">
            <div class="col-md-6">
                <div id="foto-produto" class="thumbnail"></div>   
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <h3 id="titulo-prdt" class="text-center"></h3>
                </div>
                <div class="form-group text-center btns-modal-prdt">
                    <a id="comprar-prdt" href="#" class="btn btn-primary form-control">Comprar Produto</a>
                    <a id="soli-cot" href="#" class="btn fade in btn-default bot_solicitar_cotacao_vit form-control">Solicitar Cota&ccedil;&atilde;o</a>
                    <input type="button" id="img-indisponivel" class="btn btn-warning form-control" disabled="true" value="Indispon&iacute;vel">
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    $(document).ready(function() {
        
        var Mypagina = document.URL.split('/');
        Mypagina = $(Mypagina).get(-1);

        $("#cssmenu").ready(function () {
        	var jqxhr = $.getJSON( "json/departamentos_categorias.php", function() {}).done(function(data ) {
        		var items = [];
                var itemsMobile = [];
                var i = 0;
                
                var open_drop=Menu_Tipo>3?'':'open in',
                aria_expanded=Menu_Tipo>3?false:true,
                collapsed=Menu_Tipo>3?'collapsed':'';

                /* 
                1 = Departamento e Categoria (Aberto)
                2 = Departamento e Categoria (Aberto com total de Produtos)
                3 = Só Departamento (Aberto)
                4 = Departamento e Categoria (Fechado)
                5 = Departamento e Categoria (Fechado com total de Produtos)
                */

        		$.each( data, function(posicao,departamento) {
                     i++;
        			 aux_categoria = "";
        			 $.each( departamento.categoria, function(aux, categoria) {
					 	
                        var badge = categoria.qtde != undefined && (Menu_Tipo==2||Menu_Tipo==5) ?'<span class="badge pull-right">'+categoria.qtde+'</span>':'';
        				aux_categoria += '<li><a href="'+categoria.link+'"><span>'+categoria.nome+'</span>'+badge+'</a></li>';
        			});
        			items.push( '<li class="drop-li"><a href="javascript:void(0)" data-toggle="collapse" data-target="#toggleDemo'+i+'" data-parent="#sidenav1" class="'+collapsed+'"  aria-expanded="'+aria_expanded+'"><span>'+departamento.nome+'</span><div class="eng-i-dwn"><i class="material-icons">&#xE313;</i></div></a><div aria-expanded="'+aria_expanded+'" class="collapse '+open_drop+'" id="toggleDemo'+i+'"><ul class="nav nav-list">'+aux_categoria+'</ul></div>');
                    itemsMobile.push( '<li><a href="javascript:void(0)" data-toggle="collapse" data-target="#toggleDemo1'+i+'mobile" data-parent="#sidenav2" class="collapsed"><span>'+departamento.nome+'</span></a><div class="collapse" id="toggleDemo1'+i+'mobile"><ul class="nav nav-list">'+aux_categoria+'</ul></div>');
        		});
        		$( "#cssmenu" ).append('<ul class="nav navbar-nav" id="sidenav1">'+items.join( "" )+'</ul>');
                $( "#navbar3" ).append('<ul class="nav navbar-nav" id="sidenav2">'+itemsMobile.join( "" )+'</ul>');
			    muda_tamanho();
        	}).fail(function() {
        	  //alert( "Erro ao carregar os departamentos!" );
        	})
        })
        $("#cssmenu_pagina_interna").ready(function () {
        var jqxhr = $.getJSON( "json/paginas_internas.php", function() {}).done(function(data ) {
        		 var items = [];
        		 $.each( data, function(posicao,dado) {
        			items.push( "<ul class='nav'><li><a href='interna.php?cod=" + dado.cod + "' target='_self' >" + dado.nome + "</a></li></ul>" );
        		 });
        		 $( "#cssmenu_pagina_interna" ).append(items.join( "" ));
                 $( "#navbar4" ).append(items.join( "" ));
        	}).fail(function() {
        		//alert( "erro ao carregar categoria" );
        	});
        })
        //$('.fretes-infosfinais .Borda').addClass('panel panel-default');
        $('input[type="text"], input[type="submit"], input[type="password"], input[type="email"], .botao, input[type="number"], textarea, select').each(function() {
            var t = $(this);
            t.addClass('form-control');
            if(t.hasClass('bot_entrar') || t.hasClass('NewsBtnEnviar')) {
                t.addClass('btn btn-primary');
            }
        });

        //$('.fretes-infosfinais').html('<div class="row">'+$('.fretes-infosfinais').html()+'</div>')

        //$('.codPromocionalFinalizar div').removeClass('label');
        //$('.eng-info-finais, .eng-frete').addClass('col-md-6');

        var d_i_f = $('.fretes-infosfinais .info-finais');
        //d_i_f.find('.main:not(.label)').addClass('col-md-6');
        //d_i_f.addClass('col-md-12')

        $('#separa-total').remove();

        //d_i_f.find('.subTotal').addClass('col-md-12')
        d_i_f.find('.main.label').css({
            'font-weight': 'bold',
            'font-size': '14px',
            'margin-bottom': '5px'
        }).removeClass('label'); //.addClass('col-md-12')

        if(document.URL.indexOf('login') != -1) {
            $('.login-panel').hide();
        }
//        $('.eng-login-cadastro .cols').each(function() {
            //$(this).addClass('col-md-6');
            //$(this).find('.content-white').first().addClass('panel panel-default');
//            $(this).find('.informe').addClass('panel-heading');
            //$(this).find('.botao ').addClass('btn btn-primary');
//        })
//        $('.esqueciSenhaBox .caixaTextoBorda .caixaTexto .bot_voltar').addClass('btn-primary');
        $('.titulo1').each(function() {
            if($(this).text().indexOf('Nao') != -1 || $(this).text().indexOf('existe um p') != -1) {
                $(this).addClass('alert alert-danger').css({
                    'color': '#a94442',
                    'padding': '30px 15px'
                });
            }    
        });
/*        $('.balert-danger').addClass('alert alert-danger').css({ //nao foi encontrado a classe no sistema
            'text-align': 'left'
        }).find('br').remove();

        $('#id_resposta_contato').addClass('alert alert-success').find('p:nth-child(1),p:nth-child(2)').remove();

        $('.esqueciSenhaBox .titulo1').addClass('page-header');
        $('.esqueciSenhaBox .caixaTextoBorda').addClass('well well-lg');

        $('.meuPedidos-new .titulo1, .contato-section .titulo1').each(function() {
            $(this).addClass('page-header');
        })
        $('.contato .main div:first-child').addClass('col-md-4').css({'width': '', 'padding-left': '0'});
        $('.contato .main div:last-child').addClass('col-md-8').css({'width': '', 'padding-right': '0'});
        $('.contato .btns').find('#id_bot_enviar').addClass('pull-right');
*/
        $('.codKey .col-md-9').find('.col-md-3, .col-md-9').css({'width': '', 'padding': '0'});

//        $('.contato-section .td_contato').remove();
/*        $('.caixaTextoBorda.tabelaDePedidos').addClass('table-responsive').find('table').attr({
            'cellpadding': '',
            'width': ''
        }).addClass('table').find('.tabela_adicionar td').css('border-top', '0')
*/
        $('.caixaTextoBorda.tabelaDePedidos').find('table').attr({
            'cellpadding': '',
            'width': ''
        }).find('.tabela_adicionar td').css('border-top', '0')

//        $('#form_finalizar .table-responsive').addClass('panel panel-default').find('.Borda table').addClass('table').find('tbody tr:nth-child(1)'). addClass('bg-primary');

/*        $('#formaPagmt').after($('#id_aguardando').css({
            'color': 'inherit',
            'display': 'none'
        }).addClass('alert alert-info'));
*/

        if($('.titulo1.alert.alert-danger').length) $('.titulo1.alert.alert-danger').html($('.titulo1.alert.alert-danger').html().replace('<br>',''));
        $('#id_bot_finalizar_pedido').click(function() {
            $('#id_aguardando').hide();
            if($('#id_aguardando').text().trim().length) {
                $('#id_aguardando').fadeIn();
            }
        })
        $('#id_fieldCod_Forma_Pagamento').change(function() {
            $('#id_aguardando').hide();
            if($('#id_aguardando').text().trim().length) {
                $('#id_aguardando').fadeIn();
            }
        })

//        $('#tabela-fretes').addClass('panel panel-default').find('table').addClass('table');
//        $('.table-fretes').html('<div class="col-md-12 table-responsive">'+$('.table-fretes').html()+'</div>')
//        $('.meuPedidos-new .tabelaDePedidos').addClass('table-responsive panel panel-default').find('table').addClass('table');

        var el_cnt = $('#form_finalizar .table-responsive .Borda');
        var cnt = el_cnt.contents();
        el_cnt.replaceWith(cnt);

//        $('.titulo1.page-header').each(function() {
//            if($(this).text().trim().indexOf('Pedidos Realizados') != -1) {
//                $(this).css('margin-top', '40px')
//            }
//        })
        //$('#id_tabela_carrinho>tbody>tr').first().addClass('bg-primary');
//        $('.center-caixaborda div .main:last-child').addClass('col-md-8');
//        $('.center-caixaborda div .main:first-child').addClass('col-md-4');

        $(window).scroll(function() {
            if ($(this).scrollTop()>200) {
                $('#top-link-block').removeClass('hidden').affix({
                    offset: {top:100}
                });
            }
        });
//        $('#id_tabela_dados_pedido .tit-main').addClass('col-md-12')
        $('#id_tabela_dados_pedido').find('hr').remove()
        $('.caixa_login form[name="login"] input').css('width', '100%')
/*
        $('form[name="form_carrinho"] .Borda').addClass('table-responsive panel panel-default').find('table#id_tabela_carrinho').attr({
            'cellpadding': '',
            'width': ''
        }).addClass('table');
*/
        $('form[name="form_carrinho"] .Borda').find('table#id_tabela_carrinho').attr({
            'cellpadding': '',
            'width': ''
        });
		/*
        $('#id_tabela_carrinho tr:first-child').each(function() {
            if($(this).attr('style') != 'font-weight:bold;' && $(this).text().indexOf('Cor') == -1) {
                var emb = $(this).find('.div_embalagem');
                var contentEmb = emb.html();
                if(contentEmb) {
                    $('tr.bg-primary td:nth-child(2)').after('<td>Embalgem</td>')
                    emb.html('');
                    $(this).after('<td>asasasa</td>')//ver com murilo
                }
            }
        });
		*/
        $('#id_tabela_carrinho a[href="javascript: void(0)"]').html('<i class="material-icons">&#xE92B;</i>')
        $('table[id^=id_dados_] tr').each(function() {
            var lbl = $(this).find('td:first-child').html();
            var inpt = $(this).find('td:last-child').html();
            $(this).html('<p>'+lbl+'<br>'+inpt+'</p>');
        });
        $('.left-two-coluns').removeClass('left-two-coluns').addClass('col-md-8 col-sm-12 col-xs-12');
        $('.right-two-coluns').removeClass('right-two-coluns').addClass('col-md-4 col-sm-12 col-xs-12 pull-right');

        $('.codPromocional .tit').removeClass('tit').addClass('othertit'); //classes iguais
        $('.engTitSubTit .tit').removeClass('tit').addClass('othertit');

        var lres = $('.resposta-login');
        var lresh = lres.html();
        if(lresh && lresh.trim().length) {
            lres.html('');
            $('.eng-login-cadastro').before('<div class="alert alert-danger">'+lresh+'</div>');
        }

        //$('.brow').addClass('row'); //nao achei a classe

//        if(Mypagina.indexOf('interna') != -1) {
//            $('.titulo1').addClass('page-header');
//        }

        if(Mypagina.indexOf('cliente_informacoes') != -1) {

            var cadaBox = $('.meuPedidos-new .infoBoxContents .caixaTextoBorda');
            var iconPessoais = cadaBox.find('.tabela_adicionar i')[0].outerHTML;
            var iconContato = cadaBox.find('.tabela_adicionar i')[1].outerHTML;
            var iconEndereco = cadaBox.find('.tabela_adicionar i')[2].outerHTML;

            cadaBox.find('.tabela_adicionar').find('.titulo').remove();
            cadaBox.remove();

            $('.meuPedidos-new').first().after('<ul id="clientesInformacoes" class="nav nav-tabs nav-justified"><li class="active"><a data-toggle="tab" href="#pessoais">Detalhes Pessoais '+iconPessoais+'</a></li><li><a data-toggle="tab" href="#contato">Informa&ccedil;&otilde;es de Contato '+iconContato+'</a></li><li><a data-toggle="tab" href="#endereco">Seu Endere&ccedil;o '+iconEndereco+'</a></li></ul>');
            $('.nav-tabs').after('<div id="clientesInformacoesTabContent" class="tab-content"><div id="pessoais" class="tab-pane fade in active row"><div class="caixaTextoBorda"></div></div><div id="contato" class="tab-pane fade row"><div class="caixaTextoBorda"></div></div><div id="endereco" class="tab-pane fade row"><div class="caixaTextoBorda"></div></div></div>');

            $(cadaBox[0]).find('.tabela_adicionar').each(function(loop, el){

                $(this).addClass('col-md-12');
                $(el).find('.caixaTexto:first-child').addClass('col-md-2');
                $(el).find('.caixaTexto:last-child').addClass('col-md-10');

                if($(el).find('.caixaTexto').text().trim().length) {
                    if(loop <=6) {
                        $('.tab-content #pessoais .caixaTextoBorda').append(el);
                    }else{
                        $('.tab-content #contato .caixaTextoBorda').append(el);
                    }
                }
            });
            $(cadaBox[1]).find('.tabela_adicionar').each(function(loop, el){

                $(this).addClass('col-md-12');
                $(el).find('.caixaTexto:first-child').addClass('col-md-2');
                $(el).find('.caixaTexto:last-child').addClass('col-md-10');

                if($(el).find('.caixaTexto').text().trim().length) {
                    $('.tab-content #endereco .caixaTextoBorda').append(el);
                }
            });
        }
        $('.new-version .titulo1').addClass('page-header');
        $('.new-version .td_cliente').remove();

        $('.smallText.texts-topo-caixa-borda.left').addClass('alert alert-info').find('font').remove();
        var preenchiObri = $('.texts-topo-caixa-borda.right');
        $('#engloba-passos').after('<div class="camposObri">'+preenchiObri.html()+'</div>');
        preenchiObri.remove();

//        $('.passosDiv').addClass('col-md-12');

        $('.new-version div .caixaTexto:first-child').addClass('col-md-4').css('padding-right', '0');
        $('.new-version div .caixaTexto:last-child').addClass('col-md-8').css('padding-left', '0');

        $('#res-captcha').addClass('alert alert-danger');

        $('.link_caminho').first().before('<ol class="breadcrumb"></ol>');
        $('.link_caminho').each(function(loop, el) {
            var hT = $(this).html();
            hT = hT.replace('&gt;', '');
            hT = hT.trim();

            var hRT = $(this).attr('href');
            var cRT = '';
            var eRT = 'a';
            if(hRT == undefined){
                hRT = 'javascript:void(0)';
                cRT = 'active';
                eRT = 'span';
            }

            if(hT != ''){
                $('ol.breadcrumb').append('<li id="caminholi'+loop+'" class="' + cRT + '"></li>');
                $('ol.breadcrumb li#caminholi'+loop).append('<'+eRT+' id="caminhoa'+loop+'" href="' + hRT + '"></'+eRT+'>');
                $('ol.breadcrumb li#caminholi'+loop+' '+eRT+'#caminhoa'+loop).append(hT);
            }
        })
        $('span.link_caminho,a.link_caminho').remove();

        $('.navbar-brand').ready(function(){
            var first_height = $('.navbar-brand').height() + 30; // + 15 referente ao padding
            first_height = (first_height - 44) /2;

            $('.navbar-default .nav.navbar-nav, [data-target^="#navbar"]').css({'margin-top':first_height+'px','margin-bottom':first_height+'px'})
        });
        function GetIEVersion() {
            var sAgent=window.navigator.userAgent,Idx=sAgent.indexOf("MSIE");
            if (Idx>0) { 
                return parseInt(sAgent.substring(Idx+ 5, sAgent.indexOf(".", Idx)));
            } else if (!!navigator.userAgent.match(/Trident\/7\./)) {
                return 11;
            } else {
                return 0;
            }
        }
        if(GetIEVersion()>0) {
            $('.vertical-align>[class^="col-"],.vertical-align>[class*="col-"]').css('display','block');
            $('#top-link-block').css('right','30px');
        }
        $('#modal-produto').on('shown.bs.modal', function (e) {
            var el = $(e.target).find('#titulo-prdt')[0],
            btn_cmp = $('#comprar-prdt'),
            btn_cot = $('#soli-cot'),
            btn_ind = $('#modal-produto #img-indisponivel');

            if($(el).text().trim().indexOf('Sob consulta!')!=-1) {
                btn_cot.show();
                btn_cmp.hide();
                btn_ind.hide();
            } else if($('a.bot_resumo-new').data('indisponivel')) {
                btn_ind.show();
                btn_cmp.hide();
                btn_cot.hide();
            }else {
                btn_cmp.show();
                btn_cot.hide();
                btn_ind.hide();
            }
        });

        var elRight = $('#id_div_direita');
        var elCenter = $('#id_td_central');

        if(($('#id_banner_Lateral_Direita').length>0 && $('#id_banner_Lateral_Direita').html().trim().length ) || ($('#contentDireitaCol').length && $('#contentDireitaCol').html().trim().length)) {
            // Existe algum conteudo na coluna da direita
            elCenter.removeClass('col-md-9').addClass('col-md-7');
            elRight.show();
        }else{
            // Nao existe algum conteudo na coluna da direita
            elCenter.removeClass('col-md-7').addClass('col-md-9');
            elRight.hide();
        }

        $('form[name="login"]').find('input[name="email"]').attr({
            placeholder: 'Email de Login',
            type: 'email'
        })
        $('form[name="login"]').find('input[name="senha"]').attr({
            placeholder: 'Senha de Login'
        });

        if($('.class_msg_finalizacao').length) {
            $('.class_msg_finalizacao').addClass('alert alert-success').find('br').remove();
        }
    });
</script>
<!--------------- FIM RODAPE --------------->       






<div id="cssmenu"></div>                
